/* Invoice general styles for a clean look */
.invoice {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border: 4px solid white;
  background-color: white;
  color: black;
  margin: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px; /* Rounded corners for buttons */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2); /* Button shadow for depth */
}

/* Image and header styles */
.image {
  width: 50%;
  height: auto;
  margin: 0 auto; /* Center image */
}

/* Style adjustments for buttons */
.downloadButton,
.paidButton,
.dashboardButton,
.submitButton {
  position: relative;
  display: block;
  margin-top: 10px;
  background-color: #4CAF50 !important;
  color: black !important;
  margin: 10px !important;
  margin-bottom: 20px !important;
}

/* Task list styling for clear, bulleted tasks */
.tasksList {
  text-align: center; /* Align tasks text to the left */
  margin: 0 auto; /* Center the container */
  max-width: 640px; /* Set a max-width or width that fits your design */
  margin-bottom: 40px;
}

.tasksList h3 {
  text-align: center; /* Align the title "Tasks to be performed" to the center */
}

.tasksList ul {
  list-style: none;
  padding-left: 0;
  text-align: center; /* Center the bulleted list */
  display: inline-block; /* Allows the bulleted list to respect text-align center */
}

.tasksList ul li {
  text-align: left; /* Align the text of list items to the left */
  position: relative;
  padding-left: 20px; /* Add padding to the left of list items for custom bullets */
}

.tasksList ul li::before {
  content: '•'; /* Custom bullet point */
  color: #4CAF50; /* Green color for bullet */
  font-size: 20px; /* Larger bullet point */
  position: absolute;
  left: 0; /* Align bullets to the left edge */
  top: 0;
}

/* Signature line styles */

.customer-name-line, .customer-signature-line,
.company-name-line, .company-signature-line {
  margin-bottom: 50px;
}

.invoiceAmount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

/* Base styles for signature and name lines */
.line {
  border-bottom: 1px solid #000;
  width: 70%;
  margin: 0 auto;
  display: block;
}

/* Flex container for both Customer and Company sections */
.signatures-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  div {
    margin: 10px auto;
  }
}

.signature-disclaimer {
  font-size: 12px;
  margin-top: 10px;
}

.signature-section {
  width: 100%;
}

/* Classes for Customer and Company sections */
.customer-section, .company-section {
  width: 50%;
  text-align: center;
}

/* Email and insurance should be centered and on the next line if there isn't enough space */
.email-insurance {
  width: 100%; /* Take the full width */
  justify-content: center; /* Center the content */
  margin-top: 20px;
}

